a {
    text-decoration: inherit;
    color: inherit;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 2em;
    align-items: center;
}

header > .search-bar {
    display: flex;
    align-items: center;
    border: 10px;
}

.word-create {
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
}

.badge {
    background-color: #dadfea;
    width: 200px;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
}